body {
    background: lightblue;
}

#summary{
    text-align: center;
    padding: 2.5%;
}

#final-score {
    font-size: 5vmax;
}

#name {
    margin-top: 2.5vmax;
    font-size: 2.5vmax;
    padding: 1vmax;
}

#submit-button, #restart-button {
    margin-top: 5%;
    font-size: 2.5vmax;
    padding: 2.5%;
}